{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div style="margin-left: 20px;margin-right: 20px;">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
