{% trans_default_domain 'FOSUserBundle' %}

<div class="ui middle aligned center aligned grid" style="height: 100%;">
    <div class="column" style="max-width: 450px;">
        <h2 class="ui image header">
            <div class="content">
                Change Password
            </div>
        </h2>
<form class="ui large form fos_user_change_password" name="fos_user_change_password_form" method="post" action="{{ path('fos_user_change_password') }}" >
    <div class="field">
        <label>Current Password</label>
        <input type="password" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]" placeholder="Password" required="required" />
    </div>
    <div class="field">
        <label>New Password</label>
        <input type="password" id="fos_user_change_password_form_plainPassword_first" name="fos_user_change_password_form[plainPassword][first]" placeholder="New Password" required="required" />
    </div>
    <div class="field">
        <label>Confirm Password</label>
        <input type="password" id="fos_user_change_password_form_plainPassword_second" name="fos_user_change_password_form[plainPassword][second]" placeholder="Confirm Password" required="required" />
    </div>

    {{ form_row(form._token) }}

    <button class="ui blue submit button" type="submit">{{ 'change_password.submit'|trans }}</button>
</form>
        </div>
</div>
